<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>

<h2>Compatible Vehicles</h2>
<ul>
  <% @compatible_vehicles.each do |vehicle| %>
    <li><%= vehicle.name %></li>
  <% end %>
</ul>